extends dashboard.pug

mixin membre_jury(nom, prenom, grade, etablissement, id)
    .masonry-item
        .card-box.masonry-well
            h2= prenom + ' ' + nom
            p= grade
            p= etablissement
                p
                    a.btn.btn-primary(href=`membres_jury/`+id, role='button') Détails &raquo;
block content
    .content-page
        .content
            .container
                .jumbotron
                    h1 Membres de jurys
            .container
                .masonry-row
                    if resultats.length
                        for membre_jury in resultats
                            +membre_jury( `${membre_jury.nom}`, `${membre_jury.prenom}`, `${membre_jury.grade}` , `${membre_jury.etablissement}`,`${membre_jury._id}`)